
<br>
<h1> Edit Account </h1>

<%= form_for @user do |f| %>

<%= f.label :first_name %>
<%= f.text_field :first_name%> <br>

<%= f.label :last_name %>
<%= f.text_field :last_name%><br>

<%= f.label :age %>
<%= f.number_field :age%><br>

<%= f.label :user_name %>
<%= f.text_field :user_name%><br>

<%= f.label :hometown %>
<%= f.text_field :hometown%><br> 



<%= f.label :password %>
<%= f.text_field :password, :required => true%><br>

<% codes = [ "JFK","ATL", "LAX", "ORD", "DFW", "DEN", "SFO", "SEA", "LAS", "MCO", "EWR", "CLT", "PHX", "IAH", "MIA", "BOS", "MSP", "FLL", "DTW", "PHL", "LGA", "BWI", "SLC", "SAN", "IAD", "DCA", "MDW", "TPA", "PDX", "HNL", "PEK", "HND", "DXB", "LHR", "PVG", "HKG", "CDG", "CAN", "ICN", "AMS", "FRA", "SIN", "BKK", "DEL", "CGK", "KUL", "MAD", "CTU", "SZX", "BCN", "YYZ"] %>

<%= f.label :airport %>
<%= f.collection_select :airport, codes , :to_s, :to_s, include_blank: false%><br>


<%= f.label :bio %>
<%= f.text_area :bio%><br>


<%= f.label :photo %>
<%= f.text_field :photo %><br>

<%= f.submit %><br>

<% end %>