<!DOCTYPE html>
<html>
  <head>
    <title>TravelFrog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  



<!-- NavBar Start  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
    <img src=https://lh3.googleusercontent.com/proxy/CmGIoJ2SPgkl0Syo3ZRLHYqpny_jUDm2K-my4I4oHHxYxeR0YLnQOY5_4YfqmbF8aL8eaj28tgxXkVbjPPtMi4ZR3i4nKUkKgpVLqTbH_VQz1dTUYzOT-RZ4l0NZ-ICs89cuH9-RZkeKoXU style="width:50px">
      <a class="navbar-brand" href="/">Travel Frog</a> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cities/">Cities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>


          <% if session[:user_id]%>
          <li class="nav-item">
            <a class="nav-link" href="/profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
          <% end%>

        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>


  <body>
    <%= yield %>
  </body>
</html>
